.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding:10px;
    border: solid black 1px;
    border-radius: 5px;
}

label{
    font-size:20px;
}

button{
    border:solid black 2px;
    border-radius:10px;
    margin:15px;
}